.user {
  padding: 20px;
  flex: 4;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #1ea5fc;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow,
.userUpdate {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.78);
}

.userShow {
  flex: 1;
}

.userUpdate {
  flex: 2;
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: #7e7e7e;
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #444;
}

.userShowIcon {
  font-size: 16px;
  margin-right: 10px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  border-bottom: 1px solid gray;
  outline: none;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  width: 200px;
  border-radius: 5px;
  padding: 7px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #1ea5fc;
  color: #fff;
  font-weight: 600;
}
