.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #1ea5fc;
  position: sticky;
  top: 50px;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebarWrapper {
  padding: 20px;
  color: #f1e9e9;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: #0d141a;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 5px 0;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #005a96;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 16px;
}
