.newUser {
  padding: 20px;
  flex: 4;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.newUserItem {
  width: 430px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.newUserItem > input {
  height: 40px !important;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newUserSelect {
  height: 40px;
  border-radius: 5px;
}

.newUserButton {
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #1ea5fc;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px;
}
