.container {
  display: flex;
}

.others {
  padding-top: 10px;
  flex: 4;
}

.link {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 1124px) {
  .home {
    flex: 3;
  }
}
